**/__pycache__
*~
.DS_Store
.dockerignore
.git
.gitignore
.venv
.vscode
/catalogs
/EXTRAS
/images
/imgtmp
/out
/work
Dockerfile
Makefile
docker-compose-prod.yml
docker-compose.yml
imdtk.code-workspace
